doctype html
html
  head
    title Postcard with Instagram Photos
    link(rel='stylesheet', href='./stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')

  body

    nav.navbar.navbar-inverse.navbar-static-top
      div.navbar-header
        a.navbar-brand(href="/") Postcard with Instagram Photos

    div.container
      block content